<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<style>
    body {
  font-family: 'Lato';/*If you don't like this font I am ok with that*/
}

.fa-btn {
  margin-right: 6px;
}
</style>
</head>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Reset Password</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" >
                        <div class="form-group{{ $errors->has('password') ? ' has-error' : '' }}">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-6">
                                <!-- <input type="password" class="form-control" name="new_password"> -->

                                <span class="help-block">
                                    <strong>비밀번호 변경이 완료되었습니다.</strong>
                                 
                                </span>
                            </div>
                        </div>

                        <!-- <div class="form-group{{ $errors->has('password_confirmation') ? ' has-error' : '' }}">
                            <label class="col-md-4 control-label">Confirm Password</label>
                            <div class="col-md-6">
                                <input type="password" class="form-control" name="new_password_confirm">

                                <span class="help-block">
                                    <strong>Error message about password confirmation.</strong>
                                </span>
                            </div>
                        </div> -->

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary" onClick="self.close()">
                               확인
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
          
            </div>
        </div>
    </div>
</div>


</html>
